* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(to bottom, #724343, #279427);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300vh; 
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
nav {
    position: sticky;
    top: 500px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1); 
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 2vh 3vh;
    position: relative; 
}

/* Pushes last item to the far right naturally */
nav ul > li:last-child {
    margin-left: auto;
    height: 8vh;
}

/* Links */
a {
    text-decoration: none;
    color: rgb(100, 131, 39);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    transition:  0.3s;
}

a:hover {
    font-size: 3.1vh;
    transition: 200ms;
    color: rgb(187, 192, 192);
}


/* Submenu Logic */
nav ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    transition: opacity 400ms ease, visibility 400ms;
}

nav li:hover > ul  {
    visibility: visible;
    opacity: 1;
}




/* Slider */
.slider-container {
    margin-top: 8vh;
    display: flex;
    width: 100%;
    height: 80vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Smooth snapping */
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-align: start;
}

@media screen and (max-width: 768px) {
    .slider-container {
        height: 50vh; /* Shorter slider on phones */
        margin-top: 0; /* Full screen impact */
    }
    
    .prev-btn, .next-btn {
        padding: 10px; /* Smaller buttons for smaller screens */
    }
}


footer {
    height: 20em;
    background-color: #1a5c1a;
    position: absolute;
    bottom: -300vh;
    width: 100%;
}



/* Button Styling */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(94, 63, 43);
    background: rgba(0, 0, 0, 0);
    border: 1px solid ; 
    border-radius: 2vh;
    padding: 2vh;
    cursor: pointer;
    z-index: 10;
    font-size: 2rem;
    
    transition: background 0.4s ease, transform 0.3s ease;
}

.slider-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.prev-btn:hover, .next-btn:hover {
    background: rgba(39, 148, 39, 0.8); 
    transform: translateY(-50%) scale(1.1);
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }


section {
}

#quote1 {
    background-color: #724343;
    color: #1a5c1a;
    padding: 20px;
}